<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="comunes/comunes :: head"></head>
<div th:insert="~{comunes/comunes :: scripts}"></div>
<div th:replace="comunes/comunes :: navbar"></div>
<body>
	<div class=>
		<form th:action="@{/admin/guardar_recurso}" th:object="${habitacion}" method="post" enctype="multipart/form-data">
				<h5 > Nuevo Recursos </h5>
				<div class="form-group row" >
					<label class="col-sm-2 col-form-label">Nombre</label>
					<div class="col-sm-6" >
						<input type="text"  id="title" name="nombre" th:value ="${habitacion.nombre}" 
								th:classappend="${nombreError} ? ' is-invalid'">
						<div th:if="${nombreError}" class="invalid-feedback" th:text="${nombreError}"></div>
					</div>
				</div>

					<div class="form-group row">
						<label  class="col-2 col-form-label text-right">Categoria</label>
						<div class="col-6">
						 <select id="categoria" name="categoria" th:field="*{categoria.id}">
							 <option th:each="categoria : ${categorias}" th:value="${categoria.id}" th:text="${categoria.nombre}" />
						 </select>
					</div>
				</div>
				
                <div class="form-group row" >
					<label for="FormControlTextArea1">Descripcion</label>
					  <textarea class="form-control col-sm-8" name="descripcion"  th:value ="${habitacion.descripcion}" rows="3" 
								placeholder="Descripcion"  th:classappend="${descripcionError} ? ' is-invalid'"></textarea>
					  <div th:if="${descripcionError}" class="invalid-feedback" th:text="${descripcionError}"></div>
				</div>
				
               <div class="form-group row">
					<label class="col-2 col-form-label text-right">Precio</label>
					<div >
						<div >
							<span  id="basic-addon1"></span>
						</div>
						<input  type="text" name="precio"
							 id="price"
							placeholder="List Price" />
					</div>
				</div>
				 
				<!-------Campo para multipartf-->
				<div class="form-group row">
					<label for="ficero" class="col-2 col-form-label text-right">Seleccione una Imagen</label>
						<div class="col-6">
                       		 <input class="btn btn-dark" type="file"  id="customFile" name="fichero">
                   		 </div>
              	  </div>
                
				<div class="form-group row">
					<div class="offset-2 col-6">
						<button type="submit" class="btn btn-success"> ACEPTAR</button>
						<a class="btn btn-danger" th:href="@{/admin}">CANCELAR</a>
					</div>
				</div>
		</form>
	</div>
 <footer th:insert="~{comunes/comunes :: footer}"></footer>
</body>
</html>